/node_modules
node_modules
*node_modules
**/node_modules/
.DS_Store
Thumbs.db

# Ignora logs
*.log
dist/
build/
**/package.json
/package.json
/exercicios01/package.json
/exercicios01/package-lock.json
